.about-us__author-category {
    font-family: "PT Sans", "Arial", sans-serif;
    margin: 8px 0 14px;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #999999;
}