.most-popular__header {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    color: #171717;
    margin: 0;
    margin-bottom: 27px;
    font-family: "PT Sans", "Arial", sans-serif;
}