.left-block__header {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.12;
    color: #171717;
    margin: 0;
    text-decoration: none;
    width: 594px;
    margin: 20px 0 15px 0;
}