.menu__item {
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 18px;
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    color: white;
}

.menu__item:hover {
    opacity: 0.7;
}

@media screen and (max-width: 650px) {
    .menu__item {
        font-size: 12px;
    }
}

@media screen and (max-width: 560px) {
    .menu__item {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .menu__item {
        font-size: 12px;
    }
}