.form__input {
    min-height: 50px;
    width: 270px;
    margin-bottom: 10px;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000;
}

.form__input::placeholder {
    color: #aeb3bb;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}