.left-block__snippet {
    font-family: "PT Sans", "Arial", sans-serif;
    width: 620px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    margin: 14px 0 0;
}