.footer__column-heading {
    font-family: "PT Sans", "Arial", sans-serif;
    margin-top: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
}