.footer_column_company-description {
    font-family: "PT Sans", "Arial", sans-serif;
    margin-top: 28px;
    margin-bottom: 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #cecece;
}