.page {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
}

/* блок header */

.header {
  max-width: 1920px;
  min-height: 90px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo_place_header {
  width: 100px;
  height: 23px;
}

.menu {
  min-width: 368px;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu__item {
  line-height: 18px;
  font-size: 14px;
  text-decoration: none;
  font-weight: normal;
  color: white;
}

.header__search {
  background: none;
  border: none;
  height: 16px;
  width: 17px;
  padding: 0;
}

/* верхний блок постов */
.section_pos_top {
  padding-top: 30px;
  padding-bottom: 76px;
  width: 100%;
  margin: 0 auto;
}

.top-blocks {
  max-width: 1170px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(370px, 1fr));
  grid-template-rows: repeat(2, minmax(265px, 1fr));
  gap: 30px;
}

.top-block__container {
  width: 100%;
  height: 100%;
  padding: 30px 0 23px 22px;
  box-sizing: border-box;
}

.top-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.top-block_no_1 {
  background-image: url("../images/top_block_no_1.png");
  background-size: cover;
  grid-row: 1 / span 2;
}

.top-block_no_2 {
  background-image: url("../images/top-block_no_2.png");
  background-size: cover;
}

.top-block_no_3 {
  background-image: url("../images/top-block_no_3.png");
  background-size: cover;
  border-radius: 5px;
}

.top-block_no_4 {
  background-image: url("../images/top_block_no_4.png");
  background-size: cover;
}

.top-block_no_5 {
  background-image: url("../images/top_block_no_5.png");
  background-size: cover;
}

.article_content_category {
  color: white;
  width: 62px;
  min-height: 22px;
  background-color: #4a90e2;
  border-radius: 3px;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  padding: 0;
}

.article_content_author {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 6px 0;
}

.article_content_header {
  color: white;
  margin: 0;
}

.header_type_large {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  max-width: 340px;
}

.header_type_medium {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  max-width: 340px;
}

/* центральная секция */

.section_pos_left {
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.left-blocks__column {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 60px;
}

.left-block {
  min-width: 770px;
  min-height: 573px;
  position: relative;
}

.left-block__image {
  max-width: 770px;
  object-fit: contain;
}

.left-block__text-description {
  position: absolute;
  z-index: 1;
  top: 311px;
  left: 20px;
  min-width: 730px;
  min-height: 249px;
  text-align: left;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
}

.left-block__category {
  margin-bottom: 20px;
}

.left-block__header {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.12;
  color: #171717;
  margin: 0;
  text-decoration: none;
  max-width: 594px;
}

.left-block__author {
  position: absolute;
  top: 115px;
  left: 30px;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
  margin: 0;
}

.left-block__snippet {
  width: 620px;
  height: 72px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  margin: 0;
}

.sidebar-widget {
  width: 270px;
}

.sidebar-widget__about-us {
  width: 270px;
  height: 429px;
}

.about-us__image {
  height: 200px;
  margin-bottom: 20px;
}

.about-us__name {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  color: #171717;
}

.about-us__author-category {
  margin-bottom: 14px;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #999999;
}

.about-us__author-info {
  margin-bottom: 21px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #666666;
}

.about-us__button {
  width: 270px;
  height: 50px;
  background: #232323;
  margin-bottom: 60px;
  border-radius: 5px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.sidebar-widget__popular-posts {
  margin-top: 60px;
  height: 1020px;
  margin-bottom: 59px;
}

.popular-posts__header {
  margin-bottom: 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  color: #171717;
}

.popular__column {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular__block {
  height: 299px;
  position: relative;
  margin-bottom: 39px;
}

.popular__category {
  position: absolute;
  left: 20px;
  top: 20px;
}

.popular__image {
  height: 195px;
  margin-bottom: 20px;
}

.popular__header {
  height: 56px;
  margin-top: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 28px;
  color: #171717;
}

.popular__author {
  margin: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
}

.sidebar-widget__instagram {
  height: 516px;
  width: 270px;
  margin-bottom: 60px;
}

.instagram__header {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #171717;
}

.instagram__column {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.instagram__block {
  width: 130px;
  height: 130px;
  margin-bottom: 10px;
}

.instagram__button {
  height: 50px;
  background: #232323;
  border-radius: 3px;
  padding-top: 7px;
}

.button__image {
  width: 119px;
  height: 17px;
}

.sidebar-widget__tags {
  height: 277px;
  width: 270px;
  margin-bottom: 60px;
}

.tags__header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #171717;
  margin-bottom: 26px;
}

.tags__list {
  height: 240px;
  width: 285px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-between;
}

.sidebar-tag {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  background: #ebebeb;
  border-radius: 3px;
  line-height: 30px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 10px;
}

.sidebar-tag:nth-of-type(3n) {
  margin-right: 0;
}

.sidebar-widget__newsletter {
  height: 279px;
}

.newsletter__header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #171717;
  margin: 0;
  margin-bottom: 11px;
}

.newsletter__description {
  margin: 0;
  margin-bottom: 27px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}

.input {
  height: 50px;
  width: 270px;
  margin-bottom: 10px;
  padding-left: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #aeb3bb;
}

.input_theme_light {
  background: #ffffff;
  border: 1px solid #e5e5e5;
}

.newsletter-button {
  height: 50px;
  width: 270px;
  margin: auto;
  border-radius: 3px;
  font-family: PT Sans;
}

.newsletter-button_theme_light {
  background: #232323;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.pagination__row {
  margin-bottom: 80px;
  height: 40px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.pagination__page {
  width: 40px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 10px;
  display: flex;
}

.page__link {
  text-decoration: none;
  color: #171717;
  margin: auto;
  margin: auto;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

.page__active {
  background-color: black;
}

.link__active {
  color: white;
}

.most-popular__header {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: #171717;
  margin: 0;
  margin-bottom: 27px;
}

.popular__row {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: 79px;
}

/*блок footer */

.footer__main-content {
  height: 500px;
  background-color: #171717;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: content;
  margin-top: 62px;
  margin-left: 375px;
  margin-right: 474px;
}

.column_content_main-info {
  width: 270px;
  margin-top: 62px;
}

.footer_column_company-description {
  margin-top: 28px;
  margin-bottom: 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #cecece;
}

.footer_column_heading {
  margin-top: 0;
  margin-bottom: 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.socials__link {
  text-decoration: none;
}

.socials__icon {
  width: 34px;
  height: 34px;
  margin-right: 15px;
}

.column_content_recent-posts {
  margin-top: 62px;
}

.recent-posts__column {
  list-style: none;
  margin: 0;
  padding: 0;
}

.recent-posts-image {
  height: 95px;
  width: 95px;
  border-radius: 3px;
  margin-right: 20px;
  margin-bottom: 25px;
}

.recent-posts__block {
  display: flex;
  flex-direction: row;
}

.header__link {
  text-decoration: none;
  color: #ffffff;
}

.recent-posts__header {
  width: 198px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 13px;
}

.recent-posts__author {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #cecece;
  margin: 0;
}

.column_content_newsletter {
  width: 270px;
  height: 234px;
}

.newsletter__heading {
  margin-bottom: 38px;
  margin-top: 62px;
}

.input_theme_dark {
  background: #373737;
  border: none;
}

.newsletter-button_theme_dark {
  border: none;
  background: #232323;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.footer__bottom-panel {
  height: 94px;
  background: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 375px;
  padding-right: 382px;
}

.bottom-panel__copywrite {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
