.header__search-bar {
    font-family: "PT Sans", "Arial", sans-serif;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    border-radius: 3px;
    box-sizing: border-box;
    height: 25px;
    width: 170px;
    border: grey solid 1px;
    background-color: #373737;
    color: white;
    visibility: hidden;
}

.header__search-bar::placeholder {
    color: #aeb3bb;
}

@media screen and (max-width: 650px) {
    .header__search-bar {
        font-size: 12px;
        height: 22px;
        width: 140px;
    }
}

@media screen and (max-width: 400px) {
    .header__search-bar {
        width: 100px;
    }
}